@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';

:root {
  --fd-primary: oklch(0.4883 0.1931 264.32);
  --fd-primary-foreground: oklch(0.985 0 0);
}

.dark {
  --fd-primary: oklch(0.4883 0.1931 264.32);
  --fd-primary-foreground: oklch(1 0 0);
}

html {
  scrollbar-gutter: stable;
}

html>body[data-scroll-locked] {
  margin-right: 0px !important;
  --removed-body-scroll-bar-size: 0px !important;
}